#contenedor {
    display: flex;
    background-color: #164863;
    height: 95vh;

}

h1 {
    color: #DDF2FD;
}

a {
    color: #9BBEC8;
}

a :hover {
    color: #427D9D
}

#lateral {
    display: flex;
    width: 30vw;
    height: 90vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 5vw;
    color: #9BBEC8;
}
#lateral :hover {

    color: #427D9D;
}

#carnum {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}

#carnum p {
    background-color: #DDF2FD;
    height: 3vh;
    width: 3vw;
    text-align: center;
    padding-top: 1vh;

    border-radius: 5%;
}

#listaproductos {
    width: 60vw;
    height: 80vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #DDF2FD;
    border-radius: 5%;
}

#titulo {
    margin-left: 3vw;
}

.product {
    width: 10vw;
    margin: 2vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #427D9D;
    border-radius: 5%;
    background-color: white;
 
   
}
.product2 a{
    color: black;
}

.imagenes img {

    max-height: 15vh;
    margin-top: 3vh;
}

#listaproductos2 {
    width: 60vw;
    height: 80vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #DDF2FD;
    border-radius: 5%;
    align-items: center;
}

.product2 {
    border-radius: 10%;
    width: 50vw;
    margin: 0.5vh;
    background-color: white;
    margin-left: 3vw;
    height: 28vh;
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #164863;
}

.imagenes2 img {

    max-width: 8vw;
    max-height: 15vh;
}

.datosp {
    width: 10vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70%;
    text-align: center;
    background-color: #9BBEC8;
    border-radius: 5%;

    justify-content: center;
}

.precios {
    display: flex;
    width: 10vw;
    justify-content: space-around;
}

#inferior {
    display: flex;
    margin-left: 2vw;
    width: 50vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#pago {
    display: flex;
 
    align-items: center;
    border: 1px solid #164863;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    border-radius: 5%;
}

#total {
    display: flex;
    height: 8vh;
    flex-direction: column;
    margin-right: 2vw;
    justify-content: space-around;
}

#total p {
    margin: 0;
}

.product3 {
    width: 60vw;
    margin: 2vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.activa {
    width: 35vw;
    background-color: #DDF2FD;
    color: black;
    border: 1px solid gray;

    border-radius: 5%;

}

.activa a {
    color: black;

}

#carnum1 {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30vw;
    background-color: #DDF2FD;
}

#carnum1 a {
    color: black;
}
#carnum1  {
    color: black;
}
.product3  {
    padding-left: 10vw;

}
.product3 H1 {
    color: black;
    
}
#carnum1 p {
    background-color: #DDF2FD;
    height: 3vh;
    width: 3vw;
    text-align: center;
    padding-top: 1vh;
    border: 1px solid #164863;
    border-radius: 10%;
}

#nombre {
    max-width: 10vw;
}

button {
    border-radius: 10%;
    background-color: #427D9D;
}
#inferior button  {
    border-radius: 5%;
    background-color: #427D9D;
    height: 8vh;
    width: 10vw;
    font-size: 80%;
    margin-left: 2vw;
}
button:hover{
    color: #DDF2FD;
}